  <div class="row">
    <form class="col s12" action="/comment" method='post'>
      <div class="row">
        <div class="input-field col s12 teal-text">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Comment</label>
        </div>
      </div>
      <div class = "row">
        <button class="btn waves-effect waves-light" type="submit" name="action">Leave a Comment
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
