  <div class="row">
    <divclass="col s12 center teal-text">
      <h3>Welcome Filosopher...</h3>
    </div>
  </div>

  <div class="row">
    <form class="col s12" action="/filosofer" method='post'>

      <div class="row">
        <div class="input-field col s6 teal-text">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6 teal-text">
          <input placeholder="Placeholder" id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 teal-text">
          <input id="email" type="email" class="validate">
          <label for="email" data-error="please enter a valid email address" data-success="Thanks">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 teal-text">
          <input placeholder="Placeholder" id="username" type="text" class="validate">
          <label for="username">Filosopher Username</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 teal-text">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>

      <div class = "row">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>

  </form>
</div>
