<div class="row">
  <div class="col s12 center teal-text">
    <h3>What are you <span class="deep-purple-text">Pondering</span>?</h3>
  </div>
</div>

<div class="row">
  <div class="col s12 m8 offset-m2 l6 offset-l3 center">
    <form action="/ponderings" method='post'>

      <div class="input-field teal-text">
        <input name="pondering[title]" type="text" class="validate">
        <label for="title">Title:</label>
      </div>

      <br/>

      <div class="input-field teal-text">
        <textarea name="pondering[body]" class="materialize-textarea validate"></textarea>
        <label for="body">Enter what your pondering:</label>
      </div>

      <div class= "row">
        <button class="btn waves-effect waves-light deep-purple" type="submit" name="action">Ponder Away
          <i class="material-icons right">send</i>
        </button>
      </div>

    </form>
  </div>
</div>

