    <nav>
      <div class="nav-wrapper teal lighten-1">
        <a href="/" class="brand-logo center">Filosofize</a>
        <ul class="right hide-on-med-and-down">
          <% unless current_user %>
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">Login</a></li>
          <% end %>
          <% if current_user %>
            <li><a href="#" class="material-icons"><%= current_user.name %></a></li>
            <li><a href="#" >Logout</a></li>
          <% end %>

          <li><a href="#">Explore</a></li>

        </ul>
      </div>
    </nav>
