<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <img src="/images/filosofize-transparent.gif" class="responsive-img">
        <h5 class="grey-text text-lighten-4">"<%= Faker::StarWars.quote %>"</h5>
      </div>
    </div>
  </div>
  <div class="footer-copyright teal darken-4 center">
    <div class="container">
      Copyright &copy; 2016. Made by kelsonic, ttalhouk, cjwired57, and tooconfident at DBC.
    </div>
  </div>
</footer>
