<div class="row">
  <div class="col s12 m10 offset-m1 l8 offset-l2 center teal-text">
    <h1 class="deep-purple-text">Welcome to Filosofize</h1>
    <h3>overflow your filosofies!</h1>
    <br/>
    <a href="/login" class="waves-effect waves-light btn-large deep-purple">Login to Filosofize!</a>
    <br/><br/><br/><br/>
    <img src="/images/filosofize.png" class="responsive-img">
  </div>
</div>



